#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 64px;
    line-height: 83.33px;
    margin: 0;
}

h3 {
    font-size: 24px;
    line-height: 31.25px;
    margin-top: 16px;
}

h4 {
    font-size: 18px;
    line-height: 23.44px;
    margin-top: 19px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 23.44px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.sort-by {
    display: flex;
    margin: 0 100px;
    align-items: center;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 25px;
  }

  .dropbtn {
    display: block;
    color: white;
    background-color: #901C1C;
    padding: 23px 0 23px 20px;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .dropbtn:hover {
    border-radius: 5px 5px 0 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    font-size: 18px;
    border-radius: 0 0 5px 5px;
    z-index: 1;
  }

  .dropdown-content a {
    border: solid 1px;
    border-top-color: #FAFAFA;
    color: white;
    padding: 23px 0 23px 20px;
    width: 168px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content:before {
    content : "";
    position: absolute;
    width: 10px;
    height: 140px;
    background-color: #901C1C;
  }

  .dropdown-content:after {
    content : "";
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 140px;
    background-color: #901C1C;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    border-radius: 5px 5px 0 0;
    border-bottom: #FAFAFA;
  }