:root{
  --main-color: #901C1C;
}
.photograph-main {
  margin-left: 100px;
  margin-right: 100px;
}
.photograph-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
    width: fit-content;
    height: 300px;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: space-between;
}
.photograph-header div{
    text-align: center;
    width: 300px;
}
.photograph-header div:first-child {
    text-align: left;
    margin-left: 50px;
}
.photograph-main h2 {
    font-size: 64px;
    line-height: 83.33px;
    margin: 0;
}
.photograph-main h3 {
    font-size: 24px;
    line-height: 31.25px;
    margin-top: 16px;
}
.photograph-main h4 {
    font-size: 18px;
    line-height: 23.44px;
    margin-top: 19px;
}
.photograph-main h5 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 23.44px;
}
.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}
#contact_modal {
  display: none;
}
/* contact modal */
.modal {
    position: absolute;
    top: 62px;
    left: 24%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
/* Icon close*/
.modal header img {
    cursor: pointer;
}
.close-modal {
  position: absolute;
  top: 5%;
  right: 4%;
}
.modal header h2 {
    font-size: 64px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: 83px;
}
/* Contactez-moi */
.modal h2:first-child {
  position: absolute;
  top: 3%;
}
/* Name */
.modal h2:last-child {
  position: absolute;
  top: 12%;
}
/* Contact form */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.form {
  margin-top: 15%;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
textarea {
  width: 100%;
  height: 170px;
  border-radius: 5px;
}
/* Filter */
.sort-by {
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.dropbtn {
  color: #FFFFFF;
  background-color: var(--main-color);
  padding: 23px 0 23px 20px;
  width: 170px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.dropbtn i{
  margin-left: 2em;
}
.fa-chevron-up {
  --fa-display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}
.dropdown-content div {
  border: solid 1px;
  border-top-color: #FAFAFA;
  padding: 23px 0 23px 20px;
  width: 168px;
  color:#FFFFFF;
  cursor: pointer;
}
.dropdown-content:before {
  content : "";
  position: absolute;
  width: 10px;
  height: 140px;
  background-color: var(--main-color);
}
.dropdown-content:after {
  content : "";
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 140px;
  background-color: var(--main-color);
}
/* Images section */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 95px;
  margin: 38px 0;
}
.gallery img, video{
  width: 350px;
  height: 300px;
  object-fit: cover;
}
/* image description */
.img-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
}
.img-desc h1 {
  font-size: 24px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 0;
}
.img-desc i {
  margin-left: 6px;
  cursor: pointer;
}
/* LightBox (background) */
.bgmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #E5E5E5;
}

.lightBox {
  display: none;
}

/* LightBox Content */
.lightBox-content {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #FFFFFF;
}

.imgSlide {
  box-sizing: border-box;
  position: absolute;
  width: 1253px;
  height: 984px;
  left: 101px;
  top: 40px;
  border: 2px solid #95FFF9;
}

.imgSlide img, 
.imgSlide video {
  position: absolute;
  left: 8%;
  top: 1%;
  width: 1050px;
  height: 900px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #C4C4C4;
}

.imgSlide h1 {
  width: 1050px;
  position: absolute;
  left: 8%;
  bottom: 0%;
}

/* Close Button */
.close {
  color: var(--main-color);
  position: absolute;
  top: 6%;
  right: 8%;
  font-size: 48px;
  font-weight: bold;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  color: var(--main-color);
  font-size: 48px;
  cursor: pointer;
  bottom: 50%;
}
.prev {
  left: 10%;
}
.next {
  right: 9%;
}
/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  right: 36px;
  width: 376px;
  height: 89px;
  background: #DB8876;
  border-radius: 5px;
  text-align: center;
}

#footer i {
  margin-right: 67px;
  margin-left: 6px;
}

#footer div {
  padding-top: 30px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

@media screen and (max-width: 1440px) {
  .lightBox-content {
    width: 100%;
  }
  .imgSlide {
    left: 5%;
    width: 90%;
  }
  .imgSlide img, 
  .imgSlide video {
    width: 85%;
  }

  .prev {
    left: 7%;
  }
  .next {
    right: 6.5%;
  }

  .close {
    right: 6.5%;
  }
}
